header{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: $spacing;
    .nav-top{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .nav-top-left{
            width: 50%;
            display: flex;

            span{
                padding-top: 5px;
                &::before{
                    content: url($main_logo);
                    padding: $spacing 0;
                }
            }
            h3{
                color: $nav_text_color;
                font-size:22px;
                padding-left: $spacing*0.3;
            }

        }
        .nav-top-right{
            width: 50%;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            span:before{
                @include fontawesome ("\f00a", $nav_text_color);
                padding-right: $spacing;
                font-size: 20px;
            }
            .avatar{
                width: 30px;
                height: 30px;
                background-color: lightblue;
                border-radius: 50%;

            }

        }
    }
    .nav-bottom{
        .menu{
            ul{
                list-style-type: none;
                width: 50%;
                display: flex;
                justify-content: space-between;
                padding-top: $spacing*0.6;
                li{
                    margin: 0;
                    color: $nav_text_color;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }
}
