// colors
$nav_text_color: #5f6368;
$action_color: #3367d6;
$title_color: #3c4043;
$p_color: rgba(0,0,0,0.87);
$footer_text_color: rgba(61,61,61,.8);

// text
$font-family: 'Open Sans', sans-serif;

$spacing: 18px;

// png
$main_logo: 'https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg';
